
body {
    font-family: sans-serif;
    font-size:11pt;
}

table {
    width:100%
    /*width: calc(100% - 2ex);
    margin:5px;*/
}

input[type="submit"][name="submit_button"] {
    background-color:orange;
    color: darkblue;
    /*float:right;*/
    border: 2px solid blue;
    padding: 4px;
    border-radius: 3px;
}

th { background-color:skyblue;}

thead tr th:first-child {
    /*width: 4rem;*/
    min-width:4rem;
/*    position:absolute;*/
}

thead.J5 tr th:not(:first-child) {
    width: calc(100% / 5);
    /*background-color:green;*/
}

thead.J6 tr th:not(:first-child) {
    width: calc(100% / 6);
    /*background-color:red;*/
}

input[type="checkbox"] {
    vertical-align:middle;
}

.checkbox {
    text-align:center;
}

/* Alterne les lignes grises et blanches dans le tableau 
 * Sauf pour l'horaire de la pause déjeuner
 */
tr:nth-child(even):not(.pause-dej) {
    background-color: #f2f2f2;
}

/* Couleur de fond pour pause déjeuner
 */
.pause-dej {
    background-color:lightgreen;
}


table, tr, th, td {
    border: 1px solid black;
    padding:0;
    border-collapse: collapse;
}


* {
    margin:0;
    padding:0;
}
